<launch>
    <arg name="manager_name" default="nodelet_manager" />
    <arg name="manager_threads" default="4" />
      <rosparam command="load" file="$(find chiba_robot_senior_team)/config.yaml" />
      
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen">
          <param name="num_worker_threads" value="$(arg manager_threads)" />
    </node>
    
    <node pkg="nodelet" type="nodelet" name="slcan_bridge" 
  args="load can_plugins/SlcanBridge $(arg manager_name)" output="screen"/>


    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
          <arg name="port" value="8080"/>
          <arg name="address" value="192.168.1.1"/>
    </include>
    <node pkg="joy" type="joy_node" name="joy" output="screen">
          <param name="dev" value="/dev/input/js0" />
    </node>

    <node pkg="nodelet" type="nodelet" name="actuators_transform"
          args="load chiba_robot_senior_team/actuators_transform_node $(arg manager_name)" >
    </node>
    <node pkg="nodelet" type="nodelet" name="controller"
          args="load chiba_robot_senior_team/controller_node $(arg manager_name)" >
    </node>
         
    <node pkg="nodelet" type="nodelet" name="id_manager"
          args="load chiba_robot_senior_team/id_manager_node $(arg manager_name)" >
    </node>
    <node pkg="nodelet" type="nodelet" name="status_transform"
          args="load chiba_robot_senior_team/status_transform_node $(arg manager_name)" >
    </node>
    <node pkg="nodelet" type="nodelet" name="undercarrige_transform"
          args="load chiba_robot_senior_team/undercarrige_transform_node $(arg manager_name)" >
    </node>
    <node pkg="nodelet" type="nodelet" name="undercarrige_control"
          args="load chiba_robot_senior_team/undercarrige_control_node $(arg manager_name)" >
    </node>

    <node pkg="nodelet" type="nodelet" name="turret_wheel_transform"
          args="load chiba_robot_senior_team/turret_wheel_transform_node $(arg manager_name)" >
    </node>
    <node pkg="nodelet" type="nodelet" name="turret_wheel_control"
          args="load chiba_robot_senior_team/turret_wheel_control_node $(arg manager_name)" >
    </node>
    <node pkg="nodelet" type="nodelet" name="emergency_transform"
          args="load chiba_robot_senior_team/emergency_transform_node $(arg manager_name)" >
    </node>
    <node pkg="nodelet" type="nodelet" name="parameter_server"
          args="load chiba_robot_senior_team/parameter_server_node $(arg manager_name)" >
      </node>
</launch>