<launch>
    <arg name="manager_name" default="nodelet_manager" />
    <arg name="manager_threads" default="4" />
      <launch>
      <rosparam command="load" file="$(find package_name)/config.yaml" />
      </launch>
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen">
          <param name="num_worker_threads" value="$(arg manager_threads)" />
    </node>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
          <arg name="port" value="8080"/>
    </include>
    <node pkg="nodelet" type="nodelet" name="node_loader1"
          args="load chiba_robot_senior_team/controller_node $(arg manager_name)" >
    </node>
</launch>