<?xml version="1.0"?>
<launch>
  <arg name="manager_name" default="nodelet_manager" />
  <arg name="manager_threads" default="4" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen">
    <param name="num_worker_threads" value="$(arg manager_threads)" />
  </node>
  
  <node pkg="nodelet" type="nodelet" name="node_loader0"
        args="load chiba_robot_senior_team/controller_node $(arg manager_name)" >
  </node>
  <node pkg="nodelet" type="nodelet" name="node_loader0"
        args="load chiba_robot_senior_team/actuater_transform_node $(arg manager_name)" >
  </node>
  <node pkg="nodelet" type="nodelet" name="node_loader0"
        args="load chiba_robot_senior_team/id_manager_node $(arg manager_name)" >
  </node>
  <node pkg="nodelet" type="nodelet" name="node_loader0"
        args="load chiba_robot_senior_team/status_transform_node $(arg manager_name)" >
  </node>
  <node pkg="nodelet" type="nodelet" name="node_loader0"
        args="load chiba_robot_senior_team/undercarrige_transform_node $(arg manager_name)" >
  </node>
</launch>
